In [1]:
import pandas as pd

In [2]:
# Ventas
datos_ventas = {
    'Fecha': ['2024-02-01', '2024-02-01', '2024-02-08', '2024-02-08', '2024-02-09', '2024-02-26', '2024-02-28', '2024-02-29'],
    'cod_conv': ['001', '', '', '', '', '', '', ''],
    'Precio_venta': [2050, 1890, 2600, 2300, 2700, 2200, 1730, 1750],
    'Costo': [1302, 1305, 1613, 1445, 1833, 1317, 695, 1195],
    'Ganancia': [748, 585, 987, 855, 867, 883, 1035, 555],
    'Efectivo': [0, 0, 0, 0, 0, 0, 1230, 1750],
    'BCP': [0, 0, 2600, 2300, 2700, 2200, 500, 0],
    'Tarjeta': [2050, 1890, 0, 0, 0, 0, 0, 0]
}

# Data registro de las ventas conversiones
datos_registro_ventas = {
    'Fecha': ['2024-02-01', '2024-02-01', '2024-02-08', '2024-02-08', '2024-02-09', '2024-02-26', '2024-02-28', '2024-02-29'],
    'cod_conv': ['001', '', '', '', '', '', '', ''],
    'Marca_Modelo': ['NISSAN/VERSA', 'TOYOTA/COROLLA DX', 'DSFK/ C35', 'KIA/SOLUTO', 'KIA/SPORTAGE', 'TOYOTA / YARIS', 'HONDA/ CIVIC', 'TOYOTA/ TOWANACE'],
    'Tanque': ['Toroidal', 'Cilindrico', 'Toroidal', 'Toroidal', 'Toroidal', 'Toroidal', 'Toroidal', 'Cilindrico'],
    'Capacidad_t': ['9Gln', '11Gln', '9Gln', '9Gln', '13Gln', '9Gln', '9Gln', '13Gln'],
    'Ubicacion_t': ['Brida interna', 'Brida externa', 'Brida externa', 'Brida interna', 'Brida interna', 'Brida interna', 'Brida externa', 'Brida externa'],
    'P.Tanque': [292, 330, 480, 330, 700, 292, 380, 370],
    'Kit_marca': ['Emme Gas', 'Otros', 'Zavoli', 'Zavoli', 'Zavoli', 'Emme Gas', 'Otros', 'Otros'],
    'Kit_generacion': ['5° G.', '3° G.', '5° G.', '5° G.', '5° G.', '5° G.', '5° G.', '3° G.'],
    'P_Kit': [1000, 950, 1108, 1090, 1108, 1000, 290, 800],
    'Certificado': ['NO', 'SI', 'SI', 'SI', 'SI', 'SI', 'NO', 'NO'],
    'P_Cert': [0, 15, 15, 15, 15, 15, 15, 15],
    'cf_conv': [10, 10, 10, 10, 10, 10, 10, 10],  # cf_conv representa la suma de P. CINTA NEGRA, P. PRESINTOS, P. MANGUERA
    'Costo': [1302, 1305, 1613, 1445, 1833, 1317, 695, 1195]
}

df_ventas = pd.DataFrame(datos_ventas)
df_registro_ventas = pd.DataFrame(datos_registro_ventas)

In [3]:
df_ventas

        Fecha cod_conv  Precio_venta  Costo  Ganancia  Efectivo   BCP  Tarjeta
0  2024-02-01      001          2050   1302       748         0     0     2050
1  2024-02-01                   1890   1305       585         0     0     1890
2  2024-02-08                   2600   1613       987         0  2600        0
3  2024-02-08                   2300   1445       855         0  2300        0
4  2024-02-09                   2700   1833       867         0  2700        0
5  2024-02-26                   2200   1317       883         0  2200        0
6  2024-02-28                   1730    695      1035      1230   500        0
7  2024-02-29                   1750   1195       555      1750     0        0

In [4]:
df_registro_ventas

,Fecha,cod_conv,Marca_Modelo,Tanque,Capacidad_t,Ubicacion_t,P.Tanque,Kit_marca,Kit_generacion,P_Kit,Certificado,P_Cert,cf_conv,Costo
0,2024-02-01,001,NISSAN/VERSA,Toroidal,9Gln,Brida interna,292,Emme Gas,5° G.,1000,NO,0,10,1302
1,2024-02-01,,TOYOTA/COROLLA DX,Cilindrico,11Gln,Brida externa,330,Otros,3° G.,950,SI,15,10,1305
2,2024-02-08,,DSFK/ C35,Toroidal,9Gln,Brida externa,480,Zavoli,5° G.,1108,SI,15,10,1613
3,2024-02-08,,KIA/SOLUTO,Toroidal,9Gln,Brida interna,330,Zavoli,5° G.,1090,SI,15,10,1445
4,2024-02-09,,KIA/SPORTAGE,Toroidal,13Gln,Brida interna,700,Zavoli,5° G.,1108,SI,15,10,1833
5,2024-02-26,,TOYOTA / YARIS,Toroidal,9Gln,Brida interna,292,Emme Gas,5° G.,1000,SI,15,10,1317
6,2024-02-28,,HONDA/ CIVIC,Toroidal,9Gln,Brida externa,380,Otros,5° G.,290,NO,15,10,695
7,2024-02-29,,TOYOTA/ TOWANACE,Cilindrico,13Gln,Brida externa,370,Otros,3° G.,800,NO,15,10,1195

## Agregando condificación a cada registro

In [5]:
df_registro_ventas['Fecha'] = pd.to_datetime(df_registro_ventas['Fecha'])
df_registro_ventas['cod_conv'] = df_registro_ventas.groupby(df_registro_ventas['Fecha'].dt.strftime('%y%m%d')).cumcount() + 1
df_registro_ventas['cod_conv'] = df_registro_ventas['Fecha'].dt.strftime('%y%m%d') + '-' + df_registro_ventas['cod_conv'].astype(str).str.zfill(2)

df_ventas['Fecha'] = pd.to_datetime(df_ventas['Fecha'])
df_ventas['cod_conv'] = df_ventas.groupby(df_ventas['Fecha'].dt.strftime('%y%m%d')).cumcount() + 1
df_ventas['cod_conv'] = df_ventas['Fecha'].dt.strftime('%y%m%d') + '-' + df_ventas['cod_conv'].astype(str).str.zfill(2)

In [6]:
df_registro_ventas

,Fecha,cod_conv,Marca_Modelo,Tanque,Capacidad_t,Ubicacion_t,P.Tanque,Kit_marca,Kit_generacion,P_Kit,Certificado,P_Cert,cf_conv,Costo
0,2024-02-01,240201-01,NISSAN/VERSA,Toroidal,9Gln,Brida interna,292,Emme Gas,5° G.,1000,NO,0,10,1302
1,2024-02-01,240201-02,TOYOTA/COROLLA DX,Cilindrico,11Gln,Brida externa,330,Otros,3° G.,950,SI,15,10,1305
2,2024-02-08,240208-01,DSFK/ C35,Toroidal,9Gln,Brida externa,480,Zavoli,5° G.,1108,SI,15,10,1613
3,2024-02-08,240208-02,KIA/SOLUTO,Toroidal,9Gln,Brida interna,330,Zavoli,5° G.,1090,SI,15,10,1445
4,2024-02-09,240209-01,KIA/SPORTAGE,Toroidal,13Gln,Brida interna,700,Zavoli,5° G.,1108,SI,15,10,1833
5,2024-02-26,240226-01,TOYOTA / YARIS,Toroidal,9Gln,Brida interna,292,Emme Gas,5° G.,1000,SI,15,10,1317
6,2024-02-28,240228-01,HONDA/ CIVIC,Toroidal,9Gln,Brida externa,380,Otros,5° G.,290,NO,15,10,695
7,2024-02-29,240229-01,TOYOTA/ TOWANACE,Cilindrico,13Gln,Brida externa,370,Otros,3° G.,800,NO,15,10,1195

In [7]:
df_ventas

,Fecha,cod_conv,Precio_venta,Costo,Ganancia,Efectivo,BCP,Tarjeta
0,2024-02-01,240201-01,2050,1302,748,0,0,2050
1,2024-02-01,240201-02,1890,1305,585,0,0,1890
2,2024-02-08,240208-01,2600,1613,987,0,2600,0
3,2024-02-08,240208-02,2300,1445,855,0,2300,0
4,2024-02-09,240209-01,2700,1833,867,0,2700,0
5,2024-02-26,240226-01,2200,1317,883,0,2200,0
6,2024-02-28,240228-01,1730,695,1035,1230,500,0
7,2024-02-29,240229-01,1750,1195,555,1750,0,0